affinity: {}
cloneHtdocsFromGit:
  enabled: false
  interval: 60
git:
  pullPolicy: IfNotPresent
  registry: docker.io
  repository: bitnami/git
  tag: 2.27.0-debian-10-r13
image:
  debug: false
  pullPolicy: IfNotPresent
  registry: docker.io
  repository: bitnami/apache
  tag: 2.4.43-debian-10-r80
ingress:
  annotations: {}
  certManager: false
  enabled: false
  hostname: example.local
  secrets: null
  tls:
  - hosts:
    - example.local
    secretName: example.local-tls
livenessProbe:
  enabled: true
  failureThreshold: 6
  initialDelaySeconds: 180
  path: /
  periodSeconds: 20
  port: http
  successThreshold: 1
  timeoutSeconds: 5
metrics:
  enabled: false
  image:
    pullPolicy: IfNotPresent
    registry: docker.io
    repository: bitnami/apache-exporter
    tag: 0.8.0-debian-10-r75
  podAnnotations:
    prometheus.io/port: "9117"
    prometheus.io/scrape: "true"
  resources:
    limits: {}
    requests: {}
nodeSelector: {}
podAnnotations: {}
readinessProbe:
  enabled: true
  failureThreshold: 6
  initialDelaySeconds: 30
  path: /
  periodSeconds: 10
  port: http
  successThreshold: 1
  timeoutSeconds: 5
replicaCount: 1
resources:
  limits: {}
  requests: {}
service:
  annotations: {}
  externalTrafficPolicy: Cluster
  httpsPort: 443
  nodePorts:
    http: ""
    https: ""
  port: 80
  type: LoadBalancer
tolerations: {}
